*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 520px;
    width: 450px;
    border: 2px solid black;
    margin: auto;
    margin-top: 15vh;
    padding: 0px 50px 0px 50px ;
}

.login h1{
    text-align: center;
    margin-top: 20px;
}
.login p{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 20px;
}
.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.login input{
    padding-left: 10px;
    margin-top: 20px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.input-box i{
    position: absolute;
    left: 310px;
    top: 32px;
}
.forgot-password{
    margin-top: 5px;
}
.login-button button{
    width: 100%;
    margin-top: 20px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}
.forgot{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.forgot p{
    font-size: 16px;
    margin-bottom: 10px;
}

.signup .button{
    width: 100%;
    height: 50px;
    background-color: blue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.signup .button1{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
}