*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 500px;
    height: 60%;
    border: 1px solid black;
    border-radius: 25px;
}
h1{
    text-align: center;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.position{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.position i{
    position: absolute;
    left: 83%;
    top: 14px;
    font-size: 20px;
}

.position input{
    width: 80%;
    height: 50px;
    padding-left: 20px;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.submit button{
    width: 80%;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-size: 18px;
}

form{
    margin-top: 50px;
}

h4{
    text-align: center;
    margin-top: 10px;
}