*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(120, 100, 120, 200);
}

.card{
    width: 800px;
    height: 500px;
    border: 2px solid black;
    display: flex;
}

.input-box-1{
    width: 50%;
    height: 100%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px 50% 50% 0px;
    border-radius: 50% 0px 0px  50%;
    text-align: center;
    padding-left: 50px;
}

.input-box-1 h1{  
    margin-top: 40px;
}
.input-box-1 p{
    margin-top: 20px;
    font-size: 25px;
}

.image-login{
    width: 250px;
    height: 250px;
    margin-top: 20px;
}
.signup-btn{
    width: 73%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(47, 165, 153);
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.input-box-2{
    width: 50%;
    height: 50%;
    text-align: center;
    padding-right: 50px;
    margin: auto;
}

.box{
    position: relative;
    margin-top: 20px;
}
.box input{
    width: 90%;
    height: 40px;
    padding-left: 40px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: transparent;
    border: 2px solid black;
}
.box input::placeholder{
    color: white;
}

.box i{
    position: absolute;
    left: 40px;
    top: 11px;
}
.submit button{
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
    height: 40px;
    color: white;
    background-color: rgb(47, 165, 153);
    border-radius: 10px;
}
.forgot{
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}
.forgot a{
    text-decoration: none;
    color: white;
}