* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid black;
    padding-bottom: 50px;
    width: 500px;
    border-radius: 30px;
}


.card h1 {
    text-align: center;
    margin-top: 10px;
}

form {
    margin: auto;
    margin-top: 70px;
}
.input {
    display: flex;
    justify-content:  center;
    margin-top: 50px;
    position: relative;

}
.input input{
    width: 90%;
    height: 50px;
    padding-left: 20px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.input i{
    position: absolute;
    top: 35%;
    left: 85%;
}

.input input:hover{
    border: 1px solid black;
    border-radius: 30px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.button button{
    width: 90%;
    height: 50px;
    background-color: blue;
    color: white;
    font-size: 18px;
    border-radius: 30px;
}

p{
    text-align: center;
    margin-top: 10px;
}