*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border: 1px solid black;
    height: 500px;
    width: 500px;
}

h1{
    text-align: center;
    margin-top: 10px;
}

form{
    margin-top: 50px;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

input{
    width: 80%;
    height: 50px;
    padding-left: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    button{
        width: 80%;
        height: 50px;
        border-radius: 30px;
        background-color: blue;
        color: white;
        font-size: 20px;
    }
}