*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container2{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: transparent;
    backdrop-filter: blur(2px);
}

.card{
    border: 1px solid black;
    height: auto;
    width: 500px;
    border-radius: 15px;
    padding-bottom: 50px;
}

.card h1{
    text-align: center;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.input-box{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.input-box input{
    width: 90%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-left: 20px;
}
.input-box input:hover{
    border: 1px solid black;
    border-radius: 30px;
}

.input-box i{
    position: absolute;
    top: 35%;
    left: 85%;
}

.input-box button{
    width: 90%;
    height: 50px;
    border-radius: 30px;
    color: white;
    background-color: blue;
    font-size: 18px;
}
form p{
    text-align: center;
    margin-top: 20px;
}