/* body {
    margin: 0;
    padding: 0;
    background: #e1e1e1;
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    margin: 100px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888;
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    width: 95%;
    padding: 10px;
    background-color: royalblue;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

.links a {
    text-decoration: none;
    color: royalblue;
} */


body {
    margin: 0;
    padding: 0;
    background: #dfe6e9;
    font-family: Arial;
}

.container {
    width: 350px;
    background: white;
    margin: 100px auto;
    padding: 100px 25px 100px 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px #888;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    width: 95%;
    padding: 10px;
    background: royalblue;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: darkblue;
}
.container p a{
    text-decoration: none;
}