* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    background: linear-gradient(90deg, rgba(150, 225, 242, 1) 0%, rgba(122, 189, 204, 1) 35%, rgba(70, 121, 133, 1) 100%);
}

.container {
    border: 2px solid black;
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 16vh;
    border-radius: 15px;
    padding: 10px 50px;
}

.card-frount {
    text-align: center;
    margin-top: 20px;
}

.input-box {
    margin-top: 30px;
}

.input-box input {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid white;
    margin-bottom: 20px;
}

.input-box input::placeholder {
    color: white;
}

.remember {
    display: flex;
    justify-content: start;
    gap: 5px;
}
.remember input{
    width: 50px;
}
.remember p{
    font-size: 18px;
}
.submit button{
    width: 100%;
    margin-top: 20px;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

form a{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: end;
    margin-top: 15px;
    align-items: center;
}

.create button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-top: 70px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

button{
    cursor: pointer;
}


.card-frount, .card-back{
    position: absolute;
}

.card-back{
    transform:rotateY(180deg);
}