*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border: 1px solid black;
    height: 500px;
    width: 60%;
    border-radius: 15px;
}

.question{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
}

.main-list{
    
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    height: 300px;


    .input{
        display: flex;
        gap: 20px;
        height: 40px;
        align-items: center;
        padding-left: 10px;
        
        margin-top: 20px;
    }
}


.button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

    button{
        width: 45%;
        height: 50px;
        border-radius: 10px;
    }
}