*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card{
    border: 1px solid black;
    height: auto;
    padding-bottom: 50px;
    width: 500px;
    border-radius: 30px;
}

.card h1{
    margin-top: 20px;
}

form{
    margin-top: 50px;
}

.input{
    position: relative;
    margin-top: 50px;
}
.input input{
    width: 80%;
    height: 50px;
    padding-left: 20px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    outline: none;
}

.input input:hover{
    border: 1px solid black;
    border-radius: 30px;
}

.input i{
    position: absolute;
    top: 35%;
    left: 82%;
}

.button button{
    width: 80%;
    height: 50px;
    margin-top: 20px;
    background-color: blueviolet;
    color: white;
    font-size: 18px;
    border-radius: 30px;
}

p{
    margin-top: 20px;
}