*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border: 1px solid black;
    height: 95vh;
    width: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://www.shutterstock.com/image-photo/flower-background-photo-hd-quality-260nw-2633685075.jpg);

    animation:  change 10s infinite ease;
}


@keyframes change{
    50%{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS46X34Np2wd9eqrUi942V8WixGEyYloS-Onw&s);
    }
}