*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
    
    height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.card{
    width: 450px;
    border: 1px solid black;
    height: auto;
    border-radius: 30px;
    padding-bottom: 50px;
}
h1{
    text-align: center;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form{
    margin-top: 50px;
}
.input{
    position: relative;
    display: grid;
}
.input input{
    width: 90%;
    margin: auto;
    height: 50px;
    outline: none;
    padding-left: 20px;
    border: none;
    border-bottom: 1px solid ;
    background-color: transparent;
}
.input input:hover{
    border: 1px solid black;
    border-radius: 30px;
}

.input button{
    width: 90%;
    height: 50px;
    margin: auto;
    border-radius: 30px;
    background-color: blue;
    color: white;
    font-size: 18px;
}
.p{
    text-align: center;
    margin-top: 10px;
}
.input i{
    position: absolute;
    top: 15px;
    left: 85%;
    font-size: 18px;
}

p{
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 30px;
}