* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: blue;
    color: white;
    padding-left: 20px;
    padding-right: 20px;


    ul {
        list-style-type: none;
        display: flex;
        gap: 20px;
        font-size: 18px;
        position: relative;
    }

    .menu-icon {
        display: none;
    }
}


@media(max-width:350px) {
    header ul {
        position: absolute;
        top: 50px;
        background-color: blue;
        left: 0;
        right: 0;
        gap: 0;
        text-align: center;
        flex-direction: column;
        transition: all 1s;
    }

    header li{
        padding: 20px;
    }

    header .menu-icon {
        display: block;
    }
}